html{
	height: 100%;
	width: 100%;
	margin: 0;
	/* border: 1px solid #000; */
}

body{
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0;
	justify-content: flex-end;
	align-items: flex-end;
}

#mapdiv{
	/* border: 1px solid #000; */
	justify-self: flex-end;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 30px;
	margin-right: 30px;
}


#guess{
	margin-right: 50px;
	align-self: flex-end;
	width: 200px;
}

#guess.onguess{
	margin-right: 50px
}

#map {
	/* position: fixed; */
	align-self: flex-end;
	margin-bottom: 20px;
	height: 300px;
	width: 400px;
	/* border: 1px solid #000; */
	bottom: 0;
	right: 0;
	transition: width 0.2s ease, height 0.2s ease;
	border-radius: 10px;
	cursor: pointer;
	z-index: 2;
	border: 2px solid #000;

}

#map:hover{
	width: 850px;
	height: 650px;	
}

#guess{
	border: 1px solid white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: white;
	font-size: 24px;
	width: 350px;
	height: 50px;
	margin-right: 15px;
	border-radius: 50px;
	background-color: rgb(231, 82, 82);
}

#guess:hover{
	background-color: rgb(237, 45, 45);
}

#timeup{
	font-size:48px;
	color: white;
	font-weight: bold;
	position: absolute;
	top: 40%;
	left: 40%;
	display: none;

}

#timer{
	background-color: rgb(31, 31, 31);
	opacity: 0.8;
	width: 200px;
	height: 50px;
	font-size: 28px;
	font-weight: bold;
	border-radius: 10px;
	color: white;
	z-index: 1000;
	justify-self: center;
	align-self: flex-start;
	margin-top: 40px;
	text-align: center;
	padding-top: 15px;
	margin-right: 450px;
}

/* #map.fullscreen{
	width: 100%;
	height: 100%;
} */

#sampleImage {
	width: 100%;
	height: 100%;
	object-fit: fill;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#next{
	width: 300px;
	height: 50px;
	border-radius: 50px;
	color: white;
	font-size: 24px;
	background-color: rgb(231, 82, 82);
	align-self: flex-end;
	display: none;
}