html{
	height: 100%;
	width: 100%;
	margin: 0;
	/* border: 1px solid #000; */
}

body{
	/* border: 1px solid #000; */
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0;
	justify-content: flex-end;
	align-items: flex-end;
}

#mapdiv{
	/* border: 1px solid #000; */
	justify-self: flex-end;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	margin-right: 30px;
	width: 50%;
}

#map.fullscreen {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}



#guess{
	margin-right: 50px;
	align-self: flex-end;
	width: 200px;
}

#map {
	/* position: fixed; */
	align-self: flex-end;
	margin-bottom: 20px;
	margin-right: 20px;
	border: 1px solid #000;
	bottom: 0;
	right: 0;
	width: 480px;
	height: 240px;
	transition: width 0.2s ease, height 0.2s ease;
	border-radius: 10px;
	cursor: pointer;
	z-index: 2;

}

#guess{
	margin-right: 50px;
	align-self: flex-end;
	
	width: 200px;
}

#map {
	width: 960px;
	height: 640px;
}

#sampleimage {
	width: 10%;
	height: 10%;
	border-radius: 20px;
}
